[run]
omit =
    tests/*
    scanners/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
    raise AssertionError
    raise NotImplementedError
    @app.on_event
    print\(
